<mat-toolbar class="toolbar">
  <span class="toolbar__title" (click)="OnNavigateHome()">Naruto BD</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-toolbar class="subtitles">
  <span (click)="OnNavigateCharacters()">Personajes</span>
  <span (click)="OnNavigateClans()">Clanes</span>
  <span [routerLink]="['/villages']">Aldeas</span>
  <span [routerLink]="['/tailed-beast']">Bestias</span>
  <span [routerLink]="['/teams']">Equipos</span>
  <span [routerLink]="['/Kekkei-Genkai']">Kekkei Genkai</span>
  <span>Akatsuki</span>
  <span>Kara</span>
</mat-toolbar>
